* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

h1 a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
}

h1 a:hover {
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.produto {
  position: relative;
  border: 2px solid black;
  border-radius: 8px;
  width: 280px;
  height: 280px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.produto:hover {
  transform: translateY(-5px);
  background-color: lightgreen;
}

.row-highlight {
  background-color: rgba(255, 255, 0, 0.5) !important; /* yellow for row */
}

.column-highlight {
  background-color: rgba(0, 255, 255, 0.5) !important; /* cyan for column */
}

.intersection-highlight {
  background-color: rgba(
    255,
    0,
    255,
    0.7
  ) !important; /* magenta for intersection */
}

.produto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
  margin-bottom: 0;
}

.produto h2 {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  color: white;
  margin: 0;
  background: rgba(0, 0, 0, 0.6);
  padding: 5px;
  font-size: 16px;
}

.preco {
  font-size: 20px;
  font-weight: bold;
  padding: 0 15px 15px;
  color: brown;
}

body {
  background-color: #ec4949;
}
